/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #f9f9f9;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

.btn {
  margin: 10px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.error {
  color: red;
}

.success {
  color: green;
}

.completed {
  text-decoration: line-through;
  color: red;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  li {
    margin-bottom: 0.5rem;
    padding: 0.3rem;
  }

  input[type="text"],
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }

  button {
    margin: 5px;
    padding: 0.3rem 0.8rem;
  }
}

/* Flash message styles */
.flash-messages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flash-messages li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.flash-messages .error,
.flash-messages .success {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  font-size: 0.9rem;
}

.flash-messages .error {
  color: red;
}

.flash-messages .success {
  color: green;
}
